:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --second-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --logo-first-txt-cl: #2196f3;
  --logo-second-txt-cl: #000000;
  --logo-second-alt-txt-cl: #ffffff;
  --light-txt-cl-60: rgba(255, 255, 255, 0.6);
  
  /* Background colors */
  --accent-bg-cl: #f5f5f5;
  --main-bg-cl: #ffffff;
  --second-bg-cl: #2f303a;
  --btn-filter-bg-cl: #f5f4fa;
  --btn-filter-act-cl: #2196f3;
  --btn-hero-cl: #2196f3;
  --bnt-act-cl: #188ce8;
  --team-bg-cl: #f5f4fa;
  --footer-icon-bg-cl: rgba(255, 255, 255, 0.1);

  /* Others */
  --icon-clients: #AFB1B8;
  --footer-icon-clients: #FFFFFF;

}

.page {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

/* Reset style */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-section {
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* Header */

.logo-first-part {
  color: var(--logo-first-txt-cl);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-second-part {
  color: var(--logo-second-txt-cl);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.container-header {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 93px;
  margin-right: auto;
}

.site-nav {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.site-nav .link.current {
  color: var(--accent-txt-cl);
}

.contacts-nav {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.contacts-nav .link {
  color: var(--second-txt-cl);
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icons {
  fill: currentColor;
  margin-right: 10px;
}

.contact-link:not(:last-child) {
  margin-right: 50px;
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: var(--main-bg-cl);
}

.page-header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.page-header .link:hover,
.page-header .link:focus {
  color: var(--accent-txt-cl);
}



/* Hero */

.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-color: var(--second-bg-cl);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 216px;
  min-height: 50px;
  padding: 6px 28px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background-color: var(--btn-hero-cl);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--bnt-act-cl);
}

.hero-button:active {
  background-color: var(--bnt-act-cl);
}

/* features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  flex-basis: calc((100% - 90) /4);
}

.features-container-icons {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: var(--team-bg-cl);
  margin-bottom: 30px;
  border-radius: 4px;
  border: none;
}

.feature-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.features-text {
  color: var(--second-txt-cl);
}

/* about */

.about-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.about-list {
  display: flex;
  gap: 30px;
}

/* team-section */

.team-list {
  display: flex;
  gap: 30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.team-section {
  background-color: var(--team-bg-cl);
}

.team-card {
  background-color: var(--main-bg-cl);
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: none;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-bg-cl);
  border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-txt-cl);
}

.socials-icon {
  fill: var(--icon-clients);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  background-color: var(--accent-txt-cl);
  fill: var(--light-txt-cl);
}

.employee {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.employee-container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--second-txt-cl);
}

/* clients */

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: var(--icon-clients);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-txt-cl);
  border: 1px solid #2196F3;
  border-radius: 4px;
}

/* footer */

.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 50px;
}

.address-container {
  margin-top: 20px;
}

.footer-section {
  background-color: var(--second-bg-cl);
}

.contact-list:not(:last-child) {
  margin-bottom: 9px;
}

.address-item {
  font-style: normal;
  color: var(--light-txt-cl);
}

.logo-second-alt-part {
  color: var(--logo-second-alt-txt-cl);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-link {
  font-style: normal;
  color: var(--light-txt-cl-60);
}

.footer-section .link:hover,
.footer-section .link:focus {
  color: var(--accent-txt-cl);
}

.footer-socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--light-txt-cl);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-icon-bg-cl);
  border-radius: 50%;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-txt-cl);
}

.footer-socials-icon {
  fill: var(--footer-icon-clients);
}

.footer-socials-link:hover .socials-icon,
.footer-socials-link:focus .socials-icon {
  background-color: var(--accent-txt-cl);
  fill: var(--light-txt-cl);
}

/* portfolio */

.portfolio-container {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.filter-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--main-txt-cl);
  background-color: var(--btn-filter-bg-cl);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--btn-filter-act-cl);
  color: var(--light-txt-cl);
  border-radius: 4px;
  border: none;
}

.portfolio-button:active {
  color: var(--light-txt-cl);
  background-color: var(--btn-filter-act-cl);
  border-radius: 4px;
  border: none;
}

.project-item {
  flex-basis: calc((100% - 30px * 2) / 3);
  background-color: var(--main-bg-cl);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-link {
  display: block;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.description-project {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--second-txt-cl);
}

/* фон fff */
/* основной цвет текста #212121 */
/* логотип #2196F3-веб #000000-студия */
/* #2196F3 при фокусе и ховере, #212121 стандарт полож. */
/* #757575 номер в шапке */
/* #FFFFFF в индекс фон h1  */
/* #2196F3 фон кнопки, active button #188CE8 текст кнопки #FFFFFF  */
/* #2F303A фон шапки с кнопкой*/
